tr, th	{
	background-color: Tan;
	color: Crimson;
}

tr, td	{
	background-color: PaleGoldenRod;
	color: Black;
}

td:hover	{
	background-color: LightYellow;
	color: DarkViolet;
}

table	{
	border: 3px solid Crimson;
}
