body {
    font-family:  Poppins, sans-serif;
}

h1 {
    font-family: Brush Script MT, serif;
    text-align: center;
    font-size: 75px;
}

h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'Abril Fatface', serif;
}

h2 {
    font-size: 30px;
    font-family: 'Abril Fatface', serif;
    text-align: center;
}

h4 {
    font-size: 25px;
    font-family: 'Abril Fatface', serif;
}
